<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/fav.png" type="image/png" sizes="16x16">

    <title>Lifeface - Đăng nhập hoặc đăng ký mới</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/css/signin.css">
    <link rel="stylesheet" href="~/css/sweetalert.css">
    <link rel="stylesheet" href="~/js/toastr/toastr.min.css" />

    @* Import JS Library *@
    <script src="~/js/angulars/angular.min.js"></script>
    <script src="~/js/imports/sweetalert.js"></script>
    <script src="~/js/angulars/Pages/rootController.js"></script>
</head>

<body class="text-center" ng-app="myApp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-sm-3">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6">
                @RenderBody()
            </div>
            <div class="col-md-3 col-lg-4 col-sm-3">
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/imports/site.js" asp-append-version="true"></script>
    <script src="~/js/imports/main.min.js"></script>
    <script src="~/js/imports/script.js"></script>
    <script src="~/js/toastr/toastr.min.js"></script>

    <marquee style="z-index: 1; left: 777px; width: 00px; position: absolute; top: -14px; height: 1000px;" scrollamount="5"
</body>
</html>